.Wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  .LogoWrapper {
    position: absolute;
    top: 1.5rem;
    bottom: 0;
    margin: 0px;
  }

  .Logo {
    width: fit-content !important;
    height: 15rem !important;
    margin-top: 0%;
  }
  
  .SubWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    margin-top: 1rem;
  }
  
  .LeftSide {
    width: 50vw;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 10rem;
    top: 50vh;
  }
  
  .Heading {
    font-size: var(--font-42) !important;
    margin-bottom: 5rem;
    height: fit-content;
    /* margin-top: 3rem; */
    /* margin-left: 2rem; */
    width: 50rem;
  }
  
  .Buttons {
    width: fit-content;
    display: flex;
  }
  
  .ButtonStyle1 {
    background: linear-gradient(
      63.31deg,
      #363062 -9.99%,
      #363062 -9.98%,
      rgba(3, 195, 255, 0.23) 131.09%
    );
    font-weight: 500;
    font-size: 2rem !important;
    color: white;
    transition: box-shadow 0.2s ease-out !important;
    padding: 0rem 3.5rem !important;
    margin-right: 1rem;
  }
  
  .ButtonStyle1:hover {
    box-shadow: 5px 9px 13px rgba(175, 175, 175, 0.5);
  }
  
  .ButtonStyle2 {
    height: fit-content;
    font-weight: 500;
    font-size: 2rem !important;
    background: linear-gradient(
      63.31deg,
      #363062 -9.99%,
      #363062 -9.98%,
      rgba(3, 195, 255, 0.23) 131.09%
    );
    color: white;
  }
  
  .RightSide {
    display: flex;
    position: absolute;
    left: 50vw;
    top: 20vh;
  }

  .Mnt{
    position: inherit;
  }
  
  .Mint{
    width: fit-content;
    height: fit-content;
  }
  
  @media only screen and (max-width: 1250px) {
    .Heading {
      font-size: var(--font-36);
    }
    .LeftSide {
      width: 40rem;
    }
    .RightSide {
      margin-left: 5rem;
    }
    .Mint {
      width: 53rem;
    }
  }
  
  @media only screen and (max-width: 1100px) {
    .Heading {
      font-size: var(--font-30);
    }
    .LeftSide {
      width: 35rem;
    }
    .RightSide {
      margin-left: 0rem;
    }
    .Mint{
      width: 47rem;
    }
    .ButtonStyle1,
    .ButtonStyle2 {
      font-size: var(--font-17) !important;
    }
  }
  
  @media only screen and (max-width: 950px) {
    .Wrapper {
      padding-bottom: 10rem;
    }
    .SubWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 13rem;
    }
    .LeftSide {
      width: 40rem;
      align-items: center;
      text-align: center;
    }
    .RightSide {
      margin-top: 9rem;
    }
    .Mint{
      width: 40rem;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .SubWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 12rem;
    }
    .Wrapper {
      padding-bottom: 8rem;
    }
    .LeftSide {
      width: min(75%, 34rem);
      justify-content: space-between;
      height: max(20rem, fit-content);
    }
    .Heading {
      font-size: var(--font-24);
    }
  
    .RightSide {
      margin-top: 10rem;
      align-items: center;
      display: flex;
      justify-content: center;
      width: 100%;
    }
    .ButtonStyle1,
    .ButtonStyle2 {
      font-size: 1.6rem !important;
    }
    .Mint{
      width: min(32rem, 80%);
    }
  }
  
  @media only screen and (max-width: 350px) {
    .ButtonStyle1,
    .ButtonStyle2 {
      padding: 0rem !important;
      padding: 3vw 8vw !important;
      font-size: 5.3vw !important;
    }
    .Heading {
      font-size: 7.8vw;
    }
  }